<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSMS.My.MySettings.DSMS_DBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DSMS_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
